<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <label>All pets</label>
    <a class="btn-create" aria-label="Left Align" (click)="modalCreate.show()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    <create-pet-modal #modalCreate="childPetCreate"></create-pet-modal>
  </div>

  <!-- Table -->
  <table [ngBusy]="{busy: busy, message: 'Loading...'}" class="table">
    <thead>
      <tr>
        <th>Animal</th>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pet of pets">
        <th>{{pet.animal}}</th>
        <th>{{pet.name}}</th>
        <th>
          <a (click)="modalUpdate.show()">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <update-pet-modal [pet]='pet' #modalUpdate="childPetUpdate"></update-pet-modal>
        </th>
        <th>
          <a (click)="delete(pet.id)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </a>
        </th>
      </tr>
    </tbody>
  </table>
</div>
