<div bsModal #updateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="updateModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Update Pet</h4>
      </div>
      <div class="modal-body">
        <div class="conteiner">
          <form [formGroup]="petForm" class="form" (ngSubmit)="onSubmit(petForm.value)" >

           <div class="form-group input-group">
             <label class="form-label" >Animal</label>
             <input class="form-control form-input" type="text" formControlName="animal">
           </div>
           <div *ngIf="formErrors.animal">
             <div *ngFor="let errors of formErrors.animal" >
               <p class="alert">{{ errors }}<p>
             </div>
           </div>

           <div class="form-group input-group">
             <label class="form-label" >Name</label>
             <input class="form-control form-input" type="text" formControlName="name">
           </div>
           <div *ngIf="formErrors.name">
             <div *ngFor="let errors of formErrors.name" >
               <p class="alert">{{ errors }}<p>
             </div>
           </div>

          <div class="row">
            <div class="col-md-6" width-50>
             <button class="btn btn-primary" type="submit" [disabled]="!petForm.valid">Update</button>
            </div>
            <div class="col-md-6" width-50>
              <button class="btn btn-primary" type="button"(click)="cancel()">Cancel</button>
            </div>
          </div>

         </form>
        </div>
      </div>
    </div>
  </div>
</div>
