<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <label>All people enable</label>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <th>{{person.name}}</th>
        <th>{{person.surname}}</th>
        <th>
          <button type="button" class="btn btn-default" aria-label="Left Align" (click)="myPets(person)">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </button>
        </th>
        <th>
          <button type="button" class="btn btn-default" aria-label="Left Align" (click)="adopt(person.id)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
        </th>
      </tr>
    </tbody>
  </table>
</div>
