<div class="conteiner">
  <form [formGroup]="petForm" class="form" (ngSubmit)="onSubmit(petForm.value)" >

   <div class="form-group input-group">
     <label class="form-label" >Animal</label>
     <input class="form-control form-input" type="text" formControlName="animal">
   </div>
   <div *ngIf="formErrors.animal">
     <div *ngFor="let errors of formErrors.animal" >
       <p class="alert">{{ errors }}<p>
     </div>
   </div>

   <div class="form-group input-group">
     <label class="form-label" >Name</label>
     <input class="form-control form-input" type="text" formControlName="name">
   </div>
   <div *ngIf="formErrors.name">
     <div *ngFor="let errors of formErrors.name" >
       <p class="alert">{{ errors }}<p>
     </div>
   </div>

  <div class="row">
    <div class="col-md-6" width-50>
     <button class="btn btn-primary" type="submit" [disabled]="!petForm.valid">Update</button>
    </div>
    <div class="col-md-6" width-50>
      <button class="btn btn-primary" type="button"(click)="cancel()">Cancel</button>
    </div>
  </div>

 </form>
</div>
