<div class="jumbotron text-center">
  <h1>Learn about {{categoryTitle}} </h1>
  <p>Ask about {{categoryTitle}}</p>
  <a class="btn btn-primary btn-lg" (click)="modalCreate.show()" role="button">ASK</a>
  <create-modal #modalCreate="childCreate"></create-modal>
</div>
<div class="conteiner">
  <div *ngFor="let question of questions" (click)="openDetails(question.id)" class="panel panel-primary">
    <div class="panel-body">
      {{question.question}}
    </div>
    <div class="panel-footer">
      <span class="glyphicon glyphicon-thumbs-up badge" (click)="addPositiveVote(question)">
        {{question.positiveVotes}}
      </span>
      <span class="glyphicon glyphicon-thumbs-down badge" (click)="addNegativeVote(question)">
        {{question.negativeVotes}}
      </span>
      <span class="badge">
        {{question.answers.length}}
        Answers
      </span>
      <button type="button" class="btn btn-default" (click)="delete(question.id)">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
