<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <label>All people</label>
    <a class="btn-create" aria-label="Left Align" (click)="modalCreate.show()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    <create-modal #modalCreate="childCreate" (onClose)="onHidden($event)"></create-modal>
  </div>

  <!-- Table -->
  <table [ngBusy]="{busy: busy, message: 'Loading...'}" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <th>{{person.name}}</th>
        <th>{{person.surname}}</th>
        <th>
          <a (click)='modalUpdate.show()'>
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <update-modal [person]='person' #modalUpdate="childUpdate" (onClose)="onHidden($event)"></update-modal>
        </th>
        <th>
          <a (click)="delete(person.id)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </a>
        </th>
        <th>
          <a (click)="modalMyPets.show()">
            My Pets
          </a>
          <myPets-modal [personId]="person.id" #modalMyPets="childMyPets" (onClose)="onHidden($event)"></myPets-modal>
        </th>
        <th>
          <a *ngIf="person.enabled" (click)="modalAdopt.show()">
            Adopt
          </a>
          <span *ngIf="!person.enabled">Can't adopt</span>
          <adopt-modal [personId]="person.id" #modalAdopt="childAdopt" (onClose)="onHidden($event)"></adopt-modal>
        </th>
      </tr>
    </tbody>
  </table>
</div>
