<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <label>All people</label>
    <a class="btn-create" aria-label="Left Align" (click)="modalCreate.show()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    <create-modal #modalCreate="childCreate"></create-modal>
  </div>

  <!-- Table -->
  <table [ngBusy]="{busy: busy, message: 'Loading...'}" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <th>{{person.name}}</th>
        <th>{{person.surname}}</th>
        <th>
          <a (click)='modalUpdate.show()'>
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <update-modal [person]='person' #modalUpdate="childUpdate"></update-modal>
        </th>
        <th>
          <a (click)="delete(person.id)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </a>
        </th>
      </tr>
    </tbody>
  </table>
</div>
